# Web Frameworks
setproctitle
requests  
watchdog  # Library for monitoring file system events --- #!speeds up streamlit

# Async Libraries
asyncio
aiofiles

# Common Python Libraries
python-dotenv
pandas 


# Database Libraries
psycopg2-binary
asyncpg
sqlalchemy-utils  # Various utility functions for SQLAlchemy

# Visual Studio Code
ptvsd
debugpy



numpy
asyncio
openai
langchain
googlesearch-python
opencv-python-headless
selenium
chromadb
chrome-cookiejar
pypdf
psycopg2-binary
sqlalchemy
nasdaq-data-link
asyncpg
faker

langchain # Python client for LangChain API
langchainhub # Python client for LangChainHub API
langchain-community # Python client for LangChain Community API
langsmith # Python client for LangChain AI API
langchain_openai
ollama
pdf2image
pdfminer.six
pytesseract
pypdf2
pdfplumber
python-docx
python-pptx
openpyxl
pytube
sentence-transformers 
nltk 
setproctitle
playwright
html2text
tldextract
spacy

streamlit-elements
streamlit_extras
streamlit_code_editor
streamlit-aggrid