
# #? Python Utilities
pathlib  # Included in Python standard library
tqdm #(Progress bar)
chardet
timedelta
python-dotenv
setproctitle
markdown
ics
# # ptvsd (Debugging)
# # yarl (URL parsing)
# # zipp (ZIP archive handling)
# # wcwidth (Unicode character width)


#? Asynchronous & Parallel Processing
asyncio
aiofiles
# # nest-asyncio

#? Charting
# plotly

#? Search Engines
googlesearch-python
# duckduckgo-search



# #? Web Development & API
aiohttp  # For asynchronous HTTP requests
requests  # For making HTTP requests
beautifulsoup4  # For parsing HTML/XML
flask
quart
# Flask-APScheduler
# httpx
# aiohttp-wsgi
# requests


# flask-async
# chainlit
# websockets


#? Google Cloud Services
google-generativeai
google-cloud-firestore
google-cloud-storage
google-cloud-secret-manager  # For Google Cloud Secret Manager
firebase-admin
# google-api-python-client
# streamlit-google-auth
# google-auth-oauthlib
# pyjwt

# #? Databases & ORMs
# psycopg2-binary
# asyncpg  # For PostgreSQL asynchronous operations
# chromadb
# # pinecone-client
# sqlalchemy
# # notion
# # notion-client

# #? Azure
msal  # Microsoft Authentication Library (MSAL)
# # azure-storage-blob
# # azure-storage-blob[aio]
# # azure-data-tables
# # azure-data-tables[aio]



# #? AI & Machine Learning
openai
openai-whisper
ollama
# spacy
# nltk
# transformers
# torch
# tensorflow
# # tf-keras
# # flax
# tiktoken
# # datasets
# # gpt4all

# sentence-transformers
# # fastembed
# # ctransformers


# #? Data Manipulation & Analysis
pandas  # For data manipulation and analysis
numpy  # For numerical operations, used by pandas
matplotlib
# # sympy
# # ydata-profiling
# # seaborn

# #? Financial Data
# nasdaq-data-link
# quandl
# finnhub-python
# # plaid-python
# yfinance

# #? Document & Text Processing
pdf2image
# pdfminer.six
pytesseract
pypdf2
# pdfplumber
# python-docx
# python-pptx
openpyxl
html2text
# tldextract
titlecase #For capitalizing text titles
# pptx2md
# reportlab
# pymupdf

pptx2md
scipy


# #? Image Processing
pillow
# opencv-python
# imagehash
# scikit-image

# #? Video Processing
# pytube
# youtube_dl

# #? Scraping & Web Automation
beautifulsoup4
playwright
# selenium
# # chrome-cookiejar
# pyppeteer


# #? LangChain Ecosystem
# langchain==0.0.314
# langchain
# langchainhub
# langchain-community
# langsmith
# langchain_openai
# langchain_community

# #? Data Generation & Manipulation
# # faker
# # aenum

# #? Speech Recognition
deepgram-sdk
pyaudio
sounddevice
openai-whisper

pyyaml

# #? Apple Development
# pyobjc

# #? Streamlit
streamlit  # For building web apps
watchdog
streamlit-aggrid
# streamlit-audiorec
# extra-streamlit-components
# # streamlit_extras
# streamlit-elements
# # streamlit-card
# # streamlit-option-menu
# # streamlit-code-editor
# # streamlit-monaco
# # streamlit-chat
# # streamlit-ace # Streaml
# # spacy-streamlit # Streamlit components for spaCy
# # streamlit-components # Streamlit component for rendering HTML elements
# # streamlit-text-labeler # Streamlit component for labeling text
# # streamlit-pandas-profiling # Streamlit component for rendering Pandas Profiling
# # streamlit-wordcloud
# # streamlit-excel-table
# # streamlit-tags
# # streamlit-tree-select
# # streamlit-modal
# # streamlit-labelstudio
# # st-material-table

# #? Others
# # ipython
# # nats-py

