spacy
nltk
openai
pillow
numpy
streamlit
requests
aiofiles
psycopg2-binary
google-generativeai
asyncpg
chromadb
ollama
sympy
beautifulsoup4
playwright
html2text

tldextract
langchain_community
langchain # Python client for LangChain API
python-dotenv
watchdog

tf-keras
flax
tensorflow

pdf2image
pdfminer.six
pytesseract
pypdf2
pdfplumber
tqdm


nest-asyncio