# Ignore virtual environments that end in _venv
*_venv/

# Byte-compiled Python files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Editor settings and temporary files
*.vscode/
*.idea/
*.sublime-project
*.sublime-workspace

# Logs and temporary files
*.log
*.tmp
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Local environment files
.env
*.env
*.DS_Store

# Ignore test folders if not needed in the container
tests/