# Web Frameworks
quart
quart-session
redis
setproctitle
websockets
httpx
requests  
watchdog  # Library for monitoring file system events --- #!speeds up streamlit

# Async Libraries
asyncio
aiofiles

# Text Extraction Libraries
pdfplumber
pdfminer.six
pypdf2
pdf2image
pytesseract

# Audio Libraries
deepgram-sdk
pydub  # Manipulate audio with a simple and easy high-level interface
mutagen  # Library for handling audio metadata
pyaudio  # Library for audio I/O
sounddevice  # Library for audio playback and recording

# Common Python Libraries
python-dotenv
dataclasses-json
dataclasses
typing_extensions
pandas 


# Database Libraries
psycopg2-binary
sqlalchemy
asyncpg
sqlalchemy-utils  # Various utility functions for SQLAlchemy
sqlparse  # Non-validating SQL parser for Python

# Visual Studio Code
ptvsd
debugpy

# Streamlit App: Meeting Tech
streamlit
openai
pytube